<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Snippets list</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We"
        crossorigin="anonymous">
  <style>
        .date {
        font-style:italic;
        font-size:15px;
        }
    </style>
</head>
<body>

  <div class="container">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">All snippets</h1>
        <p class="lead">Underneath you can view all snippets without time and view restrictions.
          Snippets which have those restrictions are treated like private and are available only by their tokens.</p>
          <div th:each="code: ${snippets}" class="col-md-8 fs-4">
            <span th:text="${code.date}" class="date"></span>
            <pre ><code th:text="${code.code}"></code></pre>
          </div>

        <a th:href="@{/}" class="btn btn-primary" type="button">Back home</a>
      </div>
    </div>
</div>


</body>
</html>